:root{
--cor-fundo: #512900;
--cor-principal: #0f4301e3;
--cor-secundaria:#330019;
--cor-destaque:#b90000;
--cor-texto:#FFFFFF;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}